<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>The CRM Web App</title>

  <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet" />

  <link type="text/css" href="/style.css" rel="stylesheet" />
</head>

<header class="header">
  <h1 class="head">Wonderful World of CRM</h1>
</header>

<body> 
  <div class="background_image">
  </div>     
  <div id="main">

    <%= yield %>
  </div>

</body>
<footer>

  <ul>
    <li>
      <p class="info">Info</p>
      <a class="logo" href="#">Jonathan Chang<i>&copy; 2014</i></a>
    </li>
    <li>
      <p class="navi">Navigation</p>

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">View All</a></li>
        <li><a href="/contacts/new">Add New Contact</a></li>
        <li><a href="#">Web &amp; Print Design</a></li>
      </ul>
    </li>
    <li>
      <p class="contact">Contact</p>

      <ul>
        <li><a href="http://www.gmail.com"><img src="gmail.png" /></a></li>
        <li><a href="http://www.twitter.com"><img src="twitter.png" /></a></li>
        <li><a href="http://www.facebook.com"><img src="facebook.png" /></a></li>
        <li>555-123456789</li>
      </ul>
    </li>
    <li>
      <p class="clients">Clients</p>

      <ul>
        <li><a href="#">Login Area</a></li>
        <li><a href="#">Support Center</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </li>
  </ul>

</footer>


</html>
