<h1>Create new Contact</h1>

<div class="form_container"
	<form action="/contacts" method="POST">
		First Name <input type="text" name="first_name"></br>
	  Last Name <input type="text" name="last_name"></br>
	  Email <input type="text" name="email"></br>
	  Note <input type="text" name="note"></br>
	  <input type="submit" name="Submit">
	</form>
</div>