<h1>Search for contact</h1>

<div class="form_container">
	<form action="/contacts/search_result" method="GET">
		First Name <input type="text" name="first_name"></br>
		Last Name <input type="text" name="last_name"></br>
		Email <input type="text" name="email"></br>
		Note <input type="text" name="note"></br>
		<input type="submit" name="Submit"></br>
	</form>
</div>